.articleCard {
  width: 300px;
  height: 550px;
  margin: 15px;
  border: 10px solid black;
}
.card-img-top {
  height: 250px;
}
.card-text {
  height: 180px;
  overflow: hidden;
}
.card-body {
  justify-content: space-between;
}
