$base-color: rgb(71, 79, 83);

.navTop {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #fdfdfd;

  img {
    padding-left: 30px;
    padding-right: 20px;
    height: 100px;
  }
  .brandLink {
    text-decoration: none;
    color: $base-color;
    font-size: 2rem;
    font-family: "Oxanium";
    font-weight: bold;
    text-shadow: 3px 2px rgb(13, 13, 14);
  }
  .form-inline {
    padding: 0;
    margin-left: auto;
    margin-right: 20px;
  }
  .addArticleButton {
    margin: auto 20px;
  }
}
.navbar-nav {
  a {
    text-decoration: none !important;
    color: black;
  }
}
.navbar {
  background-color: $base-color;
  height: 55px;
  .nav-link {
    color: wheat !important;
    font-size: 1.3rem;
  }
}
.topicItem {
  &:hover {
    background-color: $base-color !important;
    color: white !important;
  }
}
